Scatter(
	title: "Oh Wow, Multiple Data Sets",
	canvas_pixel_size: (1920, 1080),
	x_axis_label: "Time (ms)",
	x_axis_resolution: 13, // Number of times the x-axis will be divided to show your data scale. Advised to make it a ratio of your largest x value
	y_axis_label: "Distance (m)",
	y_axis_resolution: 26, // Number of times the y-axis will be divided to show your data scale. Advised to make it a ratio of your largest y value
	has_grid: true, // Should the graph have a light grey background grid
	has_legend: true, // should a legend be generated? Only really useful with multiple data sets
	data_sets: [
		DataSet(
			data_path: "scatter.csv",
			has_headers: true, // if your data has headers set to `true` so they can be ignored
			x_axis_csv_column: 0, // which column contains the x values
			x_axis_error_bar_csv_column: None, // which column contains x uncertainty Some(usize) or None
			y_axis_csv_column: 1, // which column contains the y values
			y_axis_error_bar_csv_column: None, // which column contains y uncertainty Some(usize) or None
			name: "Very interesting", // legend will indicate which colour and symbol correspond to which data set
			colour: Orange, // the colour to render a data point
			symbol: Cross, // the shape a plotted data point should take
			symbol_radius: 15, // The size of a drawn symbol in (1+ symbol_radius) pixels
			symbol_thickness: 2, // The thinkness of a drawn symbol in (1 + symbol_thickness) pixels
			best_fit: None, // A curve to fit to the axes. Some(BestFit) or None
		),
		DataSet(
			data_path: "scatter.csv",
			has_headers: true, // if your data has headers set to `true` so they can be ignored
			x_axis_csv_column: 2, // which column contains the x values
			x_axis_error_bar_csv_column: None, // which column contains x uncertainty Some(usize) or None
			y_axis_csv_column: 3, // which column contains the y values
			y_axis_error_bar_csv_column: None, // which column contains y uncertainty Some(usize) or None
			name: "Next interesting", // legend will indicate which colour and symbol correspond to which data set
			colour: Blue, // the colour to render a data point
			symbol: Circle, // the shape a plotted data point should take
			symbol_radius: 8, // The size of a drawn symbol in (1+ symbol_radius) pixels
			symbol_thickness: 3, // The thinkness of a drawn symbol in (1 + symbol_thickness) pixels
			best_fit: None, // A curve to fit to the axes. Some(BestFit) or None
		),
	],
)